<form role="form">
	<div class="form-group">
		<label>Owner</label>
		<input ng-model="owner" class="form-control" placeholder="Owner">
	</div>
	<!-- /.row -->

	<div class="form-group">
		<label>Repo</label>
		<input ng-model="repo" class="form-control" placeholder="Repo">
	</div>
	<!-- /.row -->

	<button ng-click="update()" type="submit" class="btn btn-primary">Submit</button>
	<!-- /.row -->
</form>

<div class="md-padding" flex layout-sm="column">
	<md-card>
		<md-card-content>
			<h2 class="md-title">Number of commits per contributor:</h2>
		</md-card-content>
	</md-card>

	<canvas id="doughnut" class="chart chart-doughnut"
			chart-data="data" chart-labels="labels">
	</canvas>

	<br/>

	<md-card>
		<md-card-content>
			<h2 class="md-title">Number of commit per day in a week:</h2>
		</md-card-content>
	</md-card>
	<canvas id="bar" class="chart chart-bar"
			chart-data="data1" chart-labels="labels1" chart-series="series1">
	</canvas>
</div>
